@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
:root {
  --green: #27ae60;
  --black: #2c2c54;
  --yellow: #ffc800;
  --box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  --secondary-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  --border: 0.2rem solid rgba(0, 0, 0, 0.1);
  --outline: 0.1rem solid var(--black);
  --outline-hover: 0.2rem solid var(--yellow);
}
.about-us {
  display: flex;
  min-height: 90vh;
  /* width: 85vw; */
  margin: 0 auto;
}
.about-us .image {
  flex: 1;
  background: url("person.jpg") center/cover no-repeat;
}
.about-us .image img {
  margin-top: 10rem;
}
.about-us .content {
  flex: 2;
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.about-us .content h2 {
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 6px;
}
.about-us .content .hr {
  height: 0.5px;
  width: 80px;
  background: #777;
  margin: 0px 0px 10px 0;
}
.about-us .content p {
  color: var(--black);
  padding-bottom: 15px;
  font-size: 1.8rem;
  font-weight: 300;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.7;
}
.links {
  margin: 15px 0;
}
.links li {
  border: 0.5px solid #777;
  list-style: none;
  border-radius: 5px;
  padding: 10px 15px;
  width: 300px;
  text-align: center;
}
.links li a {
  text-transform: uppercase;
  color: var(--black);
  text-decoration: none;
  font-size: 1.5rem;
}
.links li:hover {
  border-color: var(--yellow);
}
.links li:hover a {
  color: var(--yellow);
}
.vertical-line {
  height: 30px;
  width: 0.5px;
  background: #777;
  margin: 0 auto;
}

.about-us .highlights {
  margin: 3rem;
  font-size: 2rem;
}
.about-us .highlights li {
  color: var(--black);
  margin: 1rem;
}
.icons {
  display: flex;
  padding: 15px 0;
}
.icons li {
  display: block;
  padding: 5px;
  margin: 5px;
}
.icons li i {
  font-size: 26px;
  opacity: 0.8;
}
.icons li i:hover {
  color: #06d6a0;
}

/*****************/

@media (max-width: 992px) {
  .about-us {
    flex-direction: column;
  }
  .about-us .image {
    margin-top: 0;
  }
  .about-us .image img {
    margin-top: 0rem;
    width: 100%;
  }
  .content {
    height: 100vh;
  }
  .content h2 {
    font-size: 20px;
    margin-top: 50px;
  }
  .content .hr {
    margin: 20px 0;
  }
  .content p {
    font-size: 14px;
  }
  .links li a {
    font-size: 14px;
  }
  .links {
    margin: 5px 0;
  }
  .links li {
    padding: 6px 10px;
  }
  .icons li i {
    font-size: 15px;
  }
}
